body
{
  width: 100%;
  height: 100vh;
  background-color: burlywood;
  overflow: hidden;
}       
h1, h2
{
  text-align: center;
  font-size: 40px;
  color: forestgreen;
}        
#compte_a_rebours
{
  display: inline-block;
  position: relative;
  width: 35em;
  height: 120px;
  margin: 5% 30%;
  padding-top: 2em;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  background: red;
  border: 5px solid forestgreen;
}
    